* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    font-size: 40px;
}


@media (max-width: 600px) {
    body {
        display: grid;
        grid-template-areas:
            "menu1"
            "contenedor-main"
            "proximaspeliculas"
            "top3"
            "pie";
        grid-template-columns: 100%;
        grid-template-rows: 1fr 6fr 3fr 1fr;
        height: 100vh;

    }

    .menu-burger {
        margin-left: auto;
        font-size: 30px;
        cursor: pointer;
    }

    .opciones-menu {
        display: none;
    }

    .pelicula {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .peliculas-img {
        width: 200px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
        filter: grayscale(100);
        transition: all 0.3s ease 0.3s;
    }

    .peliculas-img:hover {
        filter: grayscale(0);
        scale: 1.05;
    }

    .contenedor-estrenos {
        display: flex;
        margin-top: 20px;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 10px;
        gap: 10px;

    }

    .estrenos-img {
        width: 150px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }

    .contenedor-top {
        display: flex;
        margin-top: 20px;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 10px;
        gap: 10px;

    }


    .pie-contenido {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding: 10px;
        justify-content: space-around;
        gap: 15px;
    }

    .pie-copy {
        text-align: center;
        padding: 10px;
    }

}

@media (min-width: 601px) {
    body {
        display: grid;
        grid-template-areas:
            "menu1 contenedor-main"
            "proximaspeliculas proximaspeliculas"
            "top3 top3"
            " pie pie";
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr 10fr 1fr;
        height: 100vh;

    }

    .menu-burger {
        display: none;
    }

    .opciones-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 200px;
        height: 300px;
        padding: 10px;
        margin-left: 45px;
    }

    .opciones-menu a {
        color: antiquewhite;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 10px;
        width: 170px;
        height: 50px;
        padding: 10px;
        text-align: center;
        transition: transform 0.2s ease;
    }

    .opciones-menu a:hover {

        transform: scale(1.1);
    }


    .pelicula {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;

    }


    .peliculas-img {
        width: 200px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
        filter: grayscale(100);
        transition: all 0.3s ease 0.3s;
    }

    .peliculas-img:hover {
        filter: grayscale(0);
        scale: 1.05;
    }

    .contenedor-estrenos {
        display: flex;
        margin-top: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
        gap: 10px;
        width: 100%;
        justify-content: space-around;
    }

    .estrenos-img {
        width: 200px;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
    }

    .contenedor-top {
        display: flex;
        margin-top: 20px;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 10px;
        gap: 10px;

    }

    .pie-contenido {
        display: flex;
        text-align: center;
        padding: 10px;
        justify-content: space-around;
        gap: 15px;
    }

    .pie-copy {
        text-align: center;
        padding: 10px;
    }

    .pie-contenido div {
        display: flex;
        flex-direction: column;
    }
}


.menu {
    grid-area: menu1;
    background-color: #52375D;

}


    .menu-logo {
        display: flex;
        gap: 10px;
        padding: 20px;
        color: white;
        font-size: 25px;
    }

    .menu-logo img {
        width: 80px;
        height: auto;
    }



.proximas-peliculas {
    grid-area: proximaspeliculas;
    background-color: #B0B8BF;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contenedor-main {
    grid-area: contenedor-main;
    background-color: #BCC6C8;
    color: #000000;
    text-align: center;
    padding: 10px;
}

.contenedor-pelicula {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
    width: 300px;
    height: 500px;
    background-color: #7A7891;
    color: white;
}

.titulo{
    font-size: 30px;
}

.top3 {
    grid-area: top3;
    background-color: #BCC6C8;
    padding: 15px;
    text-align: center;
}

.pie {
    grid-area: pie;
    background-color: #7A7891;
}

.btn-mas {

    background-color: #52375D;
    color: aliceblue;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}